*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks

# Firebase
app/google-services.json

# Fastlane
fastlane/play-store-key.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Bundler
.bundle/
vendor/bundle/
